// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#admin-page {
 padding-top:0;
}

#page-header {
 font-size: 48px;
}


#challenge_winner {
  color:green;
  
}

#challenge_loser {
  color:red;
}

#hockey-welcome {
  color:red
}

.img-rounded {
  height:50px;
}

#create-nav {
  margin-left: 500px;
}

#app-layout {
  color:red;
}

#nested-comment {
  margin-top:60px;
}


.tbhtoat {
  background: red;
}

.nav {
  color:blue;
}

.dropdown {
  color:blue;
}

.comment-reply {
  display:none;
}

.my_class {
  color:blue;
}

main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }

  #groupa {
    float: left;
    text-align:left;
    list-style-type: none;

  }

  #groupb {
    float: left;
    text-align:left;
    list-style-type: none;

  }

  #group_stage {
    width:610px;
  }

  #challenge_stage {
    width: 680px;
    font-weight:bold;
    
  }

  #challenge_three {
    color:purple;
  }
